<div class="container">
  <div *ngFor="let event of events" class="card" (click)="onCardClick(event)">
    <div class="card__header">
      <img src="https://source.unsplash.com/random/500x500?sig=1"
           alt="card__image"
           class="card__image"
           height="300px"
           width="100%"/>
    </div>
    <div class="card__body">
      <div class="info">
        <div><span class="tag tag-blue">start: {{event.startDateTime | date:'yyyy-MM-dd HH:mm'}}</span></div>
        <div><span class="tag tag-red">seats: {{event.seats}}</span></div>
      </div>
      <h4>{{event.name}}</h4>
      <p>{{event.shortDescription}}</p>
    </div>
    <div class="card__footer">
      <div class="user">
        <img
          src="https://source.unsplash.com/random/500x500?sig=1"
          width="60px"
          height="60px"
          alt="user__image"
          class="user__image"
        />
        <div class="user__info">
          <h5>{{event.organizer.name}}</h5>
          <small>{{event.organizer.email}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
